registry=https://pkgs.dev.azure.com/GestionConf/028ac351-4b94-4211-ac57-6d11a5146bb8/_packaging/hey-feed/npm/registry/ 

always-auth=true

; begin auth token 
//pkgs.dev.azure.com/GestionConf/028ac351-4b94-4211-ac57-6d11a5146bb8/_packaging/hey-feed/npm/registry/:username=GestionConf
//pkgs.dev.azure.com/GestionConf/028ac351-4b94-4211-ac57-6d11a5146bb8/_packaging/hey-feed/npm/registry/:_password=ZWs3NzNwcnVwcnRpMjdsejJ3c2VjeGFzZnVhaHNsZXBpbzdoNGlkYjZicGd6NWI1eHJycQ==
//pkgs.dev.azure.com/GestionConf/028ac351-4b94-4211-ac57-6d11a5146bb8/_packaging/hey-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/GestionConf/028ac351-4b94-4211-ac57-6d11a5146bb8/_packaging/hey-feed/npm/:username=GestionConf
//pkgs.dev.azure.com/GestionConf/028ac351-4b94-4211-ac57-6d11a5146bb8/_packaging/hey-feed/npm/:_password=ZWs3NzNwcnVwcnRpMjdsejJ3c2VjeGFzZnVhaHNsZXBpbzdoNGlkYjZicGd6NWI1eHJycQ==
//pkgs.dev.azure.com/GestionConf/028ac351-4b94-4211-ac57-6d11a5146bb8/_packaging/hey-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

;ZWs3NzNwcnVwcnRpMjdsejJ3c2VjeGFzZnVhaHNsZXBpbzdoNGlkYjZicGd6NWI1eHJycQ==
